<div class="image-show pe-none">
    <a class="pe-auto overflow-hidden d-flex mt-auto hoverable supercursor-hover-text effect-hover effect-transition-3 effect-hover-scale-11" href="{{ .link }}">
        <div data-paint-y>
            {{ partial "image/resize" (dict
                "img" .image
                "opt" (dict
                    "size" "400x webp"
                    "alt" .title
                    "class" " d-block w-100 h-auto"
                )
            )}}
        </div>
    </a>
</div>