<div id="pageTransition" class="in">
    <div id="pageTransition-back">
        <div class="container">
            <div class="vw-100 display-1 text-center text-wrap px-3" id="pageTransition-inner">
                {{ .Title }}
            </div>
        </div>
    </div>
    <!-- <div id="pageTransition-logo">
        <div id="logo-e18"></div>
        <div id="logo-r8"></div>
        <div id="logo-r6"></div>
        <div id="logo-v8"></div>
        <div id="logo-r9"></div>
    </div> -->
</div>