<div 
    paint-y
    itemscope itemtype="https://www.schema.org/CreativeWork"
    class="pe-4 hoverable w-100 user-select-none" 
>
    <meta itemprop="url" content="{{ .Permalink }}">

    {{ if .Params.image }}
        {{ partial "image/resize" (dict
            "img" .Params.image
            "opt" (dict
                "size" "800x webp"
                "itemprop" "thumbnailUrl"
                "alt" .Title
                "class" " effect-transition-2 effect-hover effect-hover-rotate-n5 effect-hover-scale-9 col-12 col-md-8 h-auto"
            )
        )}}
    {{ end }}     

    <div>
        <h3 class="display-6 mt-3" itemprop="name">
            <a data-hover-text="Voir" class="supercursor-none text-black text-decoration-none stretched-link" href="{{ .Permalink }}">
                <span>{{ .Title }}</span>
            </a>
        </h3>
        {{ if .Description }}
        <p class="" itemprop="about">{{ .Description | markdownify }}</p>
        {{ end }}
    </div>
</div>