{{ define "seoHero" }}
    {{ $heroImg := ((resources.Get .Params.image).Fill "1200x628 Top" ).Crop "1200x628 Top" }}
    <meta name="twitter:image" content="{{ $heroImg.Permalink}}" />
    <meta property="og:image" content="{{ $heroImg.Permalink}}" />
{{ end }}
{{ define "seoTitle" }} 
    {{ $title := printf "Réalisation - %s" .Title}}
    <title>{{ $title }}</title>
    <meta name="twitter:title" content="{{ $title }}" />
    <meta property="og:title" content="{{ $title }}" />
    <meta name="apple-mobile-web-app-title" content="{{ $title }}" />
{{ end }}

{{ define "main" }}
<section 
    anime-paint-y
    itemscope itemtype="https://www.schema.org/CreativeWork"
    class="row position-relative"
>
    <meta itemprop="url" content="{{ .Permalink }}">   
    

    <section class="d-none d-md-block col-5 mt-5">
        <div paint-y class="position-sticky top-6" id="">
            {{ if .Params.image }}
                {{ partial "image/resize" (dict
                    "img" .Params.image
                    "opt" (dict
                        "size" "1000x webp"
                        "class" "project-image img-fluid h-auto"
                        "id" "sic-preview"
                    )
                )}}
            {{ end }}
           
            {{ range $index, $section := .Params.Content }}
                {{ if isset . "image" }}
                    {{ partial "image/resize" (dict
                        "img" $section.image
                        "opt" (dict
                            "size" "1000x webp"
                            "class" "project-image img-fluid h-auto d-none"
                            "id" (printf "sic-%s" (urlize $index))
                        )
                    )}}
                {{ end }}
            {{ end }}
        </div>
    </section>
    
    <section class="col-md-7 col-xl-6 mt-5" id="project-sections-root">
        <article paint-y class="mb-5">
            <a href="/#projects" class="mb-5">Retour aux réalisations</a>

            <div class="w-full d-md-none mt-5">
                {{ if .Params.image }}
                    {{ partial "image/resize" (dict
                        "img" .Params.image
                        "opt" (dict
                            "size" "1000x webp"
                            "class" "img-fluid h-auto"
                        )
                    )}}
                {{ end }}
            </div>

            <h1 class="display-2 mt-3 mt-md-5" >{{ .Title }}</h1>
            {{ if .Params.project_url }}
                <h2><strong>
                    {{ partial "components/external-link" (dict "link" .Params.project_url "text" "Voir le site") }}
                </strong></h2>
            {{ end }}
        </article>

        
        <article class="mb-7">
            {{ if .Params.subtitle }}
                <h3>{{ .Params.subtitle }}</h3>
            {{ end }}

            {{ if .Description }}
                <p itemprop="about">
                    {{ .Description | markdownify }}
                </p>
            {{ end }}
        </article>

        {{ if isset .Params "technos" }}
            <article class="mb-7">
                <h2><strong>Réalisé avec</strong></h2>
                <ul class="list-unstyled">
                    {{ $relatedTechnos := site.RegularPages.RelatedTo ( keyVals "techno" .Params.technos)}}
                    {{ range $relatedTechnos }}
                        <li class="mb-3">{{ partial "image/icon" . }}<span class="ms-3">{{ humanize .Params.techno }}</span></li>
                    {{ end }}
                </ul>
            </article>
        {{ end }}



        {{ $sectionImageIndex := "preview"  }}
        {{ $sectionImage := ""  }}
        {{ range $index, $section := .Params.Content }}
            {{ if isset $section "image" }}
                {{ $sectionImageIndex = $index }}
            {{ end }}
            <article 
                class="project-section mb-7" 
                data-image="{{ (printf "sic-%s" (urlize $sectionImageIndex)) }}"
            >
                {{ if isset $section "image" }}
                    {{ if (ne $sectionImage $section.image) }}
                        <div class="w-full mb-4">
                            {{ partial "image/resize" (dict
                                "img" .image
                                "opt" (dict
                                    "size" "1000x webp"
                                    "class" "img-fluid h-auto d-md-none"
                                )
                            )}}
                        </div>
                    {{ end }}
                    {{ $sectionImage = $section.image }}
                {{ end }}

                {{ if isset $section "date" }}
                    <span>{{ $section.date }}</span>
                {{ end }}
                <h2><strong>{{ $section.title }}</strong></h2>
                {{ if isset $section "paraph1" }}
                    <p>
                        {{ $section.paraph1 | markdownify }}
                    </p>
                {{ end }}
                {{ if isset $section "paraph2" }}
                    <p class="pt">
                        {{ $section.paraph2 | markdownify }}
                    </p>
                {{ end }}
            </article>
        {{ end }}


        <article class="mb-7">
            {{ if .Params.project_url }}
                <h2 class="mb-4"><strong>
                    {{ partial "components/external-link" (dict "link" .Params.project_url "text" "Voir le site") }}
                </strong></h2>
            {{ end }}
            
            <ul class="list-unstyled">
                {{ if .Params.github_url }}
                    <li class="mb-3">
                        {{ partial "components/external-link" (dict "link" .Params.github_url "text" "Lien github") }}
                    </li>
                {{ end }}
                <li><a href="/#projects">Retour aux réalisations</a></li>
            </ul>
        </article>
    </section>  
</section>
{{ end }}