.img-icon 
    width: 2rem
    height: auto

.overflow-x-hidden
    overflow-x: hidden

.bg-shadow
    background: rgb(0,0,0)
    background: linear-gradient(11deg, rgba(0,0,0,0.8690826672465861) 11%, rgba(0,0,0,0.1) 48%)

\:root 
    --swiper-theme-color: var(--bs-primary) !important

.image-show-container
    display: grid
    grid-template-columns: 100% 1fr
    grid-template-rows: auto 1fr

    .image-show
        grid-area: 1 / 1 / 2 / 2
        transform-origin: bottom center
        display: flex
        $angle: 7deg
        $dist: 30%

        &:nth-child(1)
            z-index: 3
        &:nth-child(2)
            z-index: 2
            transform: translate(-#{$dist}, -30%) rotate(-#{$angle})
        &:nth-child(3)
            z-index: 1
            transform: translate(#{$dist}) rotate(#{$angle})

.accordion-button
    &:hover
        background: $secondary
        color: $primary
        &::after
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c83d25'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")