$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 5,
        7: $spacer * 10
);

$position-values: map-merge((
        0: 0,
        50: 50%,
        100: 100%
), $spacers);


$enable-smooth-scroll: true;
$enable-negative-margins: true;
$enable-rounded: false;

$prefix: bs-;

$grid-gutter-width: 3rem;

$white: #f4f4f4;
// $white: #000001;
// $white: #121213;

// $black: #f4f4f4;
// $black: #f6f6f6;
$black: #000001;


$light: #fffaf8;
// $backgroundLine: #fafafa;
// $dark: #000001;

// $primary: #6912e4;
$primary: #de4429;
// $primary: #2a922e;

// $primary: #F18C79;
// $primary: #EF7660;
// $primary: #f2644a;


// $secondary: #dcceef;
$secondary: #ffe0d9;

// scss-docs-start color-variables
$peach: #e94b2f;


$body-bg: $light;
$body-color: $black;

$hr-color: $black;
$hr-height: 2px;
$hr-opacity: 1;
$hr-margin-y: 0;

$input-btn-focus-width: 1px;
$input-btn-focus-color-opacity: 1;
$input-btn-focus-color: $black;
$input-btn-focus-blur: 0;
$input-btn-focus-box-shadow: none;

$border-width: 2px;
$border-color: $black;

// $link-color: $light;
$link-hover-color: $primary;
$link-decoration: underline;
$link-hover-decoration: underline;


$card-border-width: 0;

$font-family-sans-serif: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.1rem;
$font-size-sm: $font-size-base * .9;
$h1-font-size: $font-size-base * 4;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$display-font-weight: $font-weight-bold;


$small-font-size: 0.8rem;


$offcanvas-padding-y: $spacer * 3;
$offcanvas-bg-color: $light;
// $offcanvas-color: $white;
$offcanvas-border-color: $black;
$offcanvas-border-width: 0;
$offcanvas-backdrop-opacity: 0.1;


$accordion-border-color: transparent;
