<div class="testimony">
    <div class="identity">
        {{ if isset . "img" }}
        <img class="medium rounded" src="{{ .img }}" alt=" "/>
        {{ end }}
        <div>
            <span class="identity-title">{{ .title }}</span>
            {{ if isset . "subtitle" }}
            <span class="identity-subtitle">{{ .subtitle }}</span>
            {{ end }}
        </div>
    </div>
    {{ if isset . "content" }}
    <p class="content">
        <span>
            {{ .content }}
        </span>
        <br/>
        <span class="pt">{{ .more }}</span>
    </p>        
    {{ end }}
</div>