{{ define "pageHead" }}
    <link rel="stylesheet" href="https://unpkg.com/photoswipe@5.2.2/dist/photoswipe.css" /> 
{{ end }}

{{ define "main" }}
    <a href="/galleries/">Retour à la galerie photo</a>
    <h1>{{ .Title }}</h1>

    {{ with .Params.images }}
        <div id="gallery-images" class="mt-5 row grid-masonry">
            {{ range . }}
                {{ partial "components/photo" . }}
            {{ end }}
        </div>
    {{ end }}


    {{ $t := mul 1000 (time "2016-05-28T10:30:00.00+10:00").Unix }}
    {{ $js := resources.Get "js/gallery.js" | js.Build }}
    <script defer src="{{ $js.Permalink }}?v={{ $t }}"></script>
{{ end }}
