<header class="sticky-top">
    <div class="container">
        <div class="row py-2">
            <nav class="navbar">
                <h6 class="m-0">
                    <a class="navbar-brand" href="/">
                        Arthaud Proust
                    </a>
                </h6>
                <button class="navbar-toggler p-0 m-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-label="Ouvrir le menu">
                    Menu
                </button>
            </nav>
        </div>
    </div>  

    {{ partial "menu.html" .}}
</header>