</main>
{{ partial "components/horizontal-cord" . }}
<main class="page-transition overflow-hidden">
    <div class="container">

        <section id="projects" class="py-6">
            <h2 paint-y class="display-4 mb-4">Réalisations principales</h2>
            <div id="projects-group" class="position-relative" style="z-index: 1036;">
                <div class="swiper-wrapper pb-5 supercursor-activeable-x">
                    {{ range (where .Site.Pages "Section" "projects") }}
                        {{ range .Pages }}
                            <div class="h-100 d-flex swiper-slide">
                                {{ .Render "card"}}
                            </div>
                        {{ end}}
                    {{ end }}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>
</main> 
{{ partial "components/horizontal-cord" . }}
<main class="page-transition container">
