{{ define "seoHero" }}
    {{ $heroImg := ((resources.Get .Params.image).Fill "1200x628 Top" ).Crop "1200x628 Top" }}
    <meta name="twitter:image" content="{{ $heroImg.Permalink}}" />
    <meta property="og:image" content="{{ $heroImg.Permalink}}" />
{{ end }}
{{ define "seoTitle" }} 
    {{ $title := printf "Réalisation - %s" .Title}}
    <title>{{ $title }}</title>
    <meta name="twitter:title" content="{{ $title }}" />
    <meta property="og:title" content="{{ $title }}" />
    <meta name="apple-mobile-web-app-title" content="{{ $title }}" />
{{ end }}

{{ define "main" }}
<section 
    itemscope itemtype="https://www.schema.org/CreativeWork"
    class="row position-relative"
>
    <meta itemprop="url" content="{{ .Permalink }}">   
    

    <div class="d-none d-md-block col-5 mt-5">
        <div class="position-sticky top-6" id="">
            {{ if .Params.image }}
                {{ partial "image/resize" (dict
                    "img" .Params.image
                    "opt" (dict
                        "size" "480x webp"
                        "class" "project-image img-fluid h-auto"
                        "id" "sic-preview"
                    )
                )}}
            {{ end }}
            {{ range .Params.Content }}
                {{ partial "image/resize" (dict
                    "img" .image
                    "opt" (dict
                        "size" "480x webp"
                        "class" "project-image img-fluid h-auto d-none"
                        "id" (printf "sic-%s" (urlize .title))
                    )
                )}}
            {{ end }}
        </div>
    </div>
    
    <div class="col-md-7 col-xl-6 mt-5" id="project-sections-root">
        <div class="mb-5">
            <a href="/#projects">Retour aux réalisations</a>
            <h1 class="display-2">{{ .Title }}</h1>
            {{ if .Params.subtitle }}
                <h3>{{ .Params.subtitle }}</h3>
            {{ end }}

            {{ if .Description }}
                <p itemprop="about">
                    {{ .Description | markdownify }}
                </p>
            {{ end }}
        </div>

        {{ if isset .Params "technos" }}
            <div class="mb-7">
                <h5>Réalisé avec</h5>
                <p>
                    {{ $relatedTechnos := site.RegularPages.RelatedTo ( keyVals "techno" .Params.technos)}}
                    {{ range $relatedTechnos }}
                        <img class="img-icon" src="{{ .Params.img }}" alt="techno">
                    {{ end }}
                </p>
            </div>
        {{ end }}




        {{ range .Params.Content }}
            <div class="project-section mb-7" data-image="{{ (printf "sic-%s" (urlize .title)) }}">
                {{ if isset . "date" }}
                    <span>{{ .date }}</span>
                {{ end }}
                <h2><strong>{{ .title }}</strong></h2>
                {{ if isset . "paraph1" }}
                    <p>
                        {{ .paraph1 | markdownify }}
                    </p>
                {{ end }}
                {{ if isset . "paraph2" }}
                    <p class="pt">
                        {{ .paraph2 | markdownify }}
                    </p>
                {{ end }}
            </div>
        {{ end }}


        <div class="mb-7">
            {{ if .Params.project_url }}
                <h2 class=""><strong><a href="{{ .Params.project_url }}" target="_blank" rel="noopener">Voir le site</a></strong></h2>
            {{ end }}
            
            <ul class="list-unstyled">
                {{ if .Params.github_url }}
                    <li class="mb-3"><a href="{{ .Params.github_url }}" target="_blank" rel="noopener">Lien github</a></li>
                {{ end }}
                <li><a href="/#projects">Retour aux réalisations</a></li>
            </ul>
        </div>
    </div>  
</section>
{{ end }}