<form name="contact" method="POST" data-netlify="true">
    <label for="contact-name">Nom</label>
    <input type="text" name="name" id="contact-name"/>

    <label for="contact-email">Email</label>
    <input type="text" name="email" id="contact-email"/>

    <label for="contact-subject">Sujet</label>
    <input type="text" name="subject" id="contact-subject"/>

    <label for="contact-message">Votre message</label>
    <textarea name="message" rows=3 id="contact-message"></textarea>
    
    <button type="submit">Envoyer</button>
</form>