{{ partial "components/horizontal-cord" . }}
<div class="page-transition container pt-5">
    <footer class="py-3 py-4">
        <ul class="nav justify-content-center pb-3 mb-3">
            {{ with .Site.GetPage "/site-map" }}
            <li class="nav-item d-flex">
                {{ partial "components/internal-link" (dict "page" . "class" "p-2") }}
            </li>
            {{ end }}

            {{ with .Site.GetPage "/references" }}
            <li class="nav-item d-flex">
                {{ partial "components/internal-link" (dict "page" . "class" "p-2") }}
            </li>
            {{ end }}
            
            {{ with .Site.GetPage "/resources" }}
            <li class="nav-item d-flex">
                {{ partial "components/internal-link" (dict "page" . "class" "p-2") }}
            </li>
            {{ end }}
            
            <li class="nav-item d-flex">
                {{ partial "components/external-link" (dict "text" "Github" "link" .Site.Params.seo.links.github "class" "p-2") }}
            </li>
            
            <li class="nav-item d-flex">
                {{ partial "components/external-link" (dict "text" "Archive" "link" .Site.Params.seo.links.githubArchive "class" "p-2") }}
            </li>

        </ul>
        <div id="wcb" class="me-auto carbonbadge"></div> 
        <p class="text-center">
            <small>&copy; 2020-{{ now.Year }} Arthaud Proust Tous droits réservés</small>
            {{ with .Site.GetPage "/mentions-legales" }}
                <small>{{ partial "components/internal-link" (dict "page" .) }}</small>
            {{ end }}
        </p>
    </footer>
</div>