<!DOCTYPE html>
<html lang="fr">
    {{- partial "head.html" . -}}
    <body>
        {{ partial "components/superCursor" . }}

        <!-- <div class="corner" id="corner-a"></div>
        <div class="corner" id="corner-b"></div>
        <div class="corner" id="corner-c"></div>
        <div class="corner" id="corner-d"></div> -->
 
        {{- partial "header" . -}}

        <main class="container">
            {{- block "main" . }}{{- end }}
        </main>

        {{- partial "footer" . -}}

        {{- partial "modals" . -}}
        {{- partial "components/pageTransition" . -}}
    </body>
</html>