<!DOCTYPE html>
<html lang="fr">
    <head prefix="og: http://ogp.me/ns#">
        {{- partial "head.html" . -}}


        {{ partial "seo" . }}
        {{ block "seoHero" . }}
            {{$heroUrl := printf "%s%s" .Site.Params.seo.url .Site.Params.seo.hero }}
            <meta name="twitter:image" content="{{ $heroUrl }}" />
            <meta property="og:image" content="{{ $heroUrl }}" />
        {{ end }}
        {{ block "seoTitle" . }}
            {{ $title := .Site.Params.seo.title }}
            {{ if .Title }}
                {{ $title = .Title}}
            {{ end }}
            <title>{{ $title }}</title>
            <meta name="twitter:title" content="{{ $title }}" />
            <meta property="og:title" content="{{ $title }}" />
            <meta name="apple-mobile-web-app-title" content="{{ $title }}" />
        {{ end }}
        {{ block "seoDescription" . }}
            {{ $description := .Site.Params.seo.desc }}
            {{ if .Description }}
                {{ $description = .Description}}
            {{ end }}
            <meta name="description" content="{{ $description }}" />
            <meta property="og:description" content="{{ $description }}" />
            <meta name="twitter:description" content="{{ $description }}" />
        {{ end}}
    </head> 
    <body class="min-vh-100">
        <!-- <div class="corner" id="corner-a"></div>
        <div class="corner" id="corner-b"></div>
        <div class="corner" id="corner-c"></div>
        <div class="corner" id="corner-d"></div> -->
 
        {{- partial "header" . -}}

        <div style="pointer-events: none;" class="container mx-auto translate-middle p-0 position-fixed top-50 start-50 h-100 d-flex flex-row justify-content-between">
            {{ partial "components/vertical-cord" . }}
            {{ partial "components/vertical-cord" . }}
        </div>

        <main class="page-transition container flex-grow-1 h-full">
            {{- block "main" . }}{{- end }}
        </main>

        {{- partial "footer" . -}}

        {{- partial "components/pageTransition" . -}}
    </body>
</html>