<section 
    id="about"
    class="py-6 py-md-7 row"
    itemscope itemtype="https://schema.org/Person"
>
    <div class="col-md-6 d-flex d-column justify-content-start mb-5 md-md-0">
        <div class="image-show-container w-50 mx-auto h-auto">
            {{ range .Site.Data.sections.show }}
                {{ partial "components/image-show" . }}
            {{ end }}
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="display-4">À propos</h2>
        <div class="mt-3">
            <p>
                J'ai commencé à développer des sites à 14 ans, tout d'abord pour explorer le domaine du web, puis pour apporter des solutions à des problématiques précises ou pour <b>entreprendre des projets</b>. 
            </p>   
            <p>
                <strong>Je recherche actuellement une alternance de 24 mois</strong> pour mes deuxième et troisième années de BUT. 
            </p>
            <p>
                Vous recrutez? <a href="/cv-arthaud-proust.pdf" target="_blank" rel="noopener">Voici mon cv</a>
            </p>    
            <p>
                Ensuite, je voudrais continuer à approfondir mes connaissances, tout en continuant mon insertion professionnelle. Je vise à rejoindre une école comme l'ENSC, les Gobelins ou 42.
            </p>
        </div>
    </div>
</section>