<section 
    id="about"
    class="py-6 row"
    itemscope itemtype="https://schema.org/Person"
>
    <h2 class="display-4 col-md-6 offset-md-6">À propos</h2>
    
    
    <div class="col-md-6 offset-md-6 mt-3">
        <p>
            J'ai commencé à développer des sites à 14 ans, tout d'abord pour explorer le domaine du web, puis pour apporter des solutions à des problématiques précises ou pour <b>entreprendre des projets</b>. 
        </p>   
        <p>
            Je vise une alternance pour mes deuxième et troisième années de BUT, puis à rejoindre une école comme 42, ou l'ENSC.
        </p>    
    </div>
</section>