<section 
    id="about"
    class="py-6 row"
    itemscope itemtype="https://schema.org/Person"
>
    <h2 class="display-4 col-md-6 offset-md-6">À propos</h2>
    
    
    <div class="col-md-6 offset-md-6 mt-3">
        <p>
            J'ai commencé à développer des sites à 14 ans, tout d'abord pour explorer le domaine du web, puis pour apporter des solutions à des problématiques précises ou pour <b>entreprendre des projets</b>. 
        </p>   
        <p>
            <strong>Je vise une alternance</strong> pour mes deuxième et troisième années de BUT. Ensuite, je voudrais rejoindre une école comme l'ENSC, les Gobelins ou 42.
            <a href="#meet-us">Vous recrutez?</a>
        </p>    
    </div>
</section>