
<section id="informatic-skills" class="py-6 row">
    <h2 class="order-md-last col-md-7 display-3 ">Ils sont mes compagnons de travail</h2>
    <ul class="col-md-5 mt-5 mt-md-3 list-unstyled">
        {{ range .Site.Data.sections.technos }}
            {{ $technos := where $.Site.Pages "Section" "technos" }}
            {{ range where $technos ".Params.techno" . }}
                <li class="mb-3">{{ partial "image/icon" . }}<span class="ms-3">{{ humanize .Params.techno }}</span></li>
            {{ end }}
        {{ end }}
    </ul>

</section>