<section id="meet-us" class="py-6 row">
    <h2 class="order-md-last col-md-6 display-4">Rencontrons nous autour d'un café</h2>
    <div class="col-md-6 mt-3">
        <h3>Un projet, une idée, envie de discuter?</h3>
        <!-- Certains l'ont fait, <a class="underline">voici ce qu'ils en pensent !</a> -->
        <ul class="mt-3 list-unstyled">
            <li class="fall"><span class="hoverable full-select toCopy">{{ .Site.Params.email }}</span></li>
            <li class="fall"><span class="hoverable full-select toCopy">{{ .Site.Params.phone }}</span></li>
            <li>{{ partial "components/link.html" (dict "href" .Site.Params.seo.links.instagram "content" "Via Instagram") }}</li>
            <li>{{ partial "components/link.html" (dict "href" .Site.Params.seo.links.linkedin "content" "Ou via Linkedin?") }}</li>
        </ul>
    </div>
</section>