<section id="meet-us" class="py-6 row">
    <h2 class="supercursor-hover-text order-md-last col-md-6 display-4" data-hover-text="🎉">Rencontrons nous autour d'un café</h2>
    <div class="col-md-6 mt-3">
        <h3>Un projet, une idée, envie de discuter?</h3>
        <ul class="mt-3 list-unstyled">
            <li class="mb-2"><span class="supercursor-hover full-select toCopy">{{ .Site.Params.email }}</span></li>
            <li class="mb-2"><a href="{{ .Site.Params.seo.links.linkedin}}" target="_blank" rel="noopener">Linkedin</a></li>
            <li class="mb-2"><a href="/cv-arthaud-proust.pdf" target="_blank" rel="noopener">Voir mon cv</a></li>
        </ul>
    </div>
</section>