<section id="meet-us" class="py-6 row">
    <h2 class="order-md-last col-md-6 display-4">Rencontrons nous autour d'un café</h2>
    <div class="col-md-6 mt-3">
        <h3>Un projet, une idée, envie de discuter?</h3>
        <ul class="mt-3 list-unstyled">
            <li class="mb-2"><span class="supercursor-hover full-select toCopy">{{ .Site.Params.email }}</span></li>
            <li class="mb-2"><a href="{{ .Site.Params.seo.links.instagram}}" target="_blank" rel="noopener">Via Instagram</a></li>
            <li class="mb-2"><a href="{{ .Site.Params.seo.links.linkedin}}" target="_blank" rel="noopener">Ou via Linkedin</a></li>
        </ul>
    </div>
</section>