<section id="presentation" class="pt-6 pb-6 row">
    <div class="col-5 col-md-2 offset-md-0 mb-4">
        {{ partial "image/resize" (dict
            "img" "images/faces/me-2/me-x256.jpg"
            "opt" (dict
                "size" "380x webp"
                "alt" "Photo de arthaud de profil"
                "class" "img-fluid h-auto rounded-circle"
                "itemprop" "image"
            )
        )}}
    </div> 
    <h1 class="display-1 col-12">Arthaud Proust</h1>
    <h2 class="col-12">Développeur web passionné et créatif</h2>
    <p class="mt-3 col-md-6">
        Je conçois, design et modélise des solutions digitales.
        Je compose également avec le monde physique, photographiant les gens et sculptant le bois.
    </p>
</section>