</main>
<hr>
<main class="overflow-hidden">
    <div class="container">

        <section id="projects" class="py-6">
            <h2 class="display-4 mb-4">Réalisations</h2>
            <div id="projects-group">
                <div class="swiper-wrapper">
                    {{ range (where .Site.Pages "Section" "projects") }}
                    {{ range .Pages }}
                    <div class="h-100 d-flex swiper-slide">
                        {{ .Render "card"}}
                    </div>
                    {{ end}}
                    {{ end }}
                </div>
            </div>
        </section>
    </div>
</main> 
<hr>
<main class="container">
