
<section id="skills" class="py-6 row">
    <div class="col-lg-6">
        <h2 class="display-4 position-sticky top-6">Domaines de compétences</h2>
    </div>
    <div class="col-lg-6" id="accordionExample">
        <h3 class="mt-3">Développement web</h3>
        <p>
            J'ai acquis des compétences en réalisant des sites, en rejoignant ou en créant des projets, et à l'école. Je suis en mesure d'intégrer une maquette en front-end, développer un site complet ou encore de mettre en place une API.
        </p>
        <p>
            En parallèle, je travaille le SEO sur des projets, et apprend à optimiser le contenu (images, css, js).
        </p>
        <h3 class="mt-5">Photographie - <a href="/galleries">Galerie photo</a></h3>
        <p>
            Je fais de la photo de rue et d'architecture ainsi que des portraits depuis 2018. 
        </p>
        <p>
            C'est un loisir qui me permet de travailler ma vision de l'esthétique et la construction graphique. C'est aussi une grande expérience humaine en ce qui concerne les portraits de rue.
        </p>
        <h3 class="mt-5">Travail du bois</h3>
        <p>
            C'est une passion que je nourris à coté des études. Je sculpte divers objets, comme des prises d'escalade ou des repose-téléphone.
        </p>
        <p>
            Je m'exerce ainsi sur la conception spatiale de l'objet et le dessin, ainsi que la réflexion à long terme des avantages et inconvénients d'une solution. On retrouve par exemple ces principes dans la conception d'une base de données.
        </p>
    </div>
</section>