<section id="testimonies" class=" py-6 row">
    <h2 class="display-4 col-lg-6">Nous travaillons ensemble</h2>
    <div id="testimonies-group" class="position-relative overflow-hidden col-lg-6">
        <div class="pt-md-3 swiper-wrapper supercursor-activeable-x">
            {{ range (where .Site.Pages "Section" "testimonies") }}
                {{ range .Pages.ByWeight }}
                    <div class="swiper-slide">
                        {{ .Render "card" }}
                    </div>
                {{ end }}
            {{ end }}
        </div>
        <div class="swiper-pagination"></div>
    </div>

    
</section>