<section class="swiper-slide" data-hash="on-travaille-ensemble" aria-title="Partenaires">
    <div class="sub">
        <div>
            <h2 class="title">Nous travaillons <em class="toAnimate">ensemble</em></h2>
        </div>
        <div class="section-swiper">
            <ul class="swiper-wrapper">
                {{ range .Site.Pages.Testimonies }}
                    <li class="swiper-slide">
                        {{ partial "components/testimony.html" . }}
                    </li>
                {{ end }}
            </ul>
        </div>  
    </div>
</section>