{{ define "seoTitle" }}
{{ $title := printf "Page introuvable"}}
<title>{{ $title }}</title>
<meta name="twitter:title" content="{{ $title }}" />
<meta property="og:title" content="{{ $title }}" />
<meta name="apple-mobile-web-app-title" content="{{ $title }}" />
{{ end }}

{{ define "seoRobots" }}
<meta name="robots" content="noindex, follow">
{{ end }}

{{ define "main" }}
<section class="py-6 row">
    <div class="col-12 mb-5">
        <h1 class="mb-3 supercursor-hover-text" data-hover-text="😤">
            Page introuvable
        </h1>

        {{ with .Site.GetPage "/" }}
            <p>{{ partial "components/internal-link" (dict "page" . "text" "Retour à l'accueil") }}</p>
        {{ end }}

        {{ with .Site.GetPage "/site-map" }}
            <p>{{ partial "components/internal-link" (dict "page" .) }}</p>
        {{ end }}
    </div>

    <div class="col-12 offset-lg-6 col-lg-6">
        <h2 class="supercursor-hover-text" data-hover-text="🤓">“Il faut être perdu, il faut avoir perdu le monde, pour se trouver soi-même.”</h2>
        <p>Henry David Thoreau</p>
    </div>
</section>
{{ end }}