{{ define "pageHead" }}
    <link rel="stylesheet" href="https://unpkg.com/photoswipe@5.2.2/dist/photoswipe.css" /> 
{{ end }}
{{ define "main" }}

    {{ partial "sections/presentation" . }}
    {{ partial "sections/about" . }}
    {{ partial "sections/projects" . }}

    {{ partial "sections/skills" . }}
<!--    {{ partial "sections/parcours" . }}-->
    {{ partial "sections/informatic-skills" . }}
    {{ partial "sections/testimonies" . }}
    <!-- {{ partial "sections/galleries" . }} -->
    {{ partial "sections/meet-us" . }}
{{ end }}
