<section 
    id="about"
    class="py-6 py-md-7 row"
    itemscope itemtype="https://schema.org/Person"
>
    <div class="col-md-6 d-flex d-column justify-content-start mb-5 md-md-0">
        <div class="image-show-container w-50 mx-auto h-auto">
            {{ range .Site.Data.sections.show }}
                {{ partial "components/image-show" . }}
            {{ end }}
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="display-4">À propos</h2>
        <div class="mt-3">
            <p>
                J'ai commencé à me passionner pour la rédaction dès que mon papa m'a offert une presse manuelle.
            </p>
            <p>
                Je suis étudiant au {{ partial "components/external-link" (dict "text" "MMI Bordeaux" "link" "https://www.mmibordeaux.com/" ) }} et rédacteur web en alternance à {{ partial "components/external-link" (dict "text" "l'agence Sentence" "link" "https://fr.wikipedia.org/wiki/Poisson_d%27avril" ) }} jusqu'en 2024.
            </p>
            <p>
                Par la suite, je voudrais approfondir mes connaissances théoriques et les partager, tout en continuant mon activité professionnelle.
            </p>
        </div>
    </div>
</section>