<section id="informatic-skills" data-scroll-effect-section class="py-6 row">
    <h2 data-paint-y class="order-md-last col-md-7 display-3"><span class="supercursor-hover-text" data-hover-text="😍">Ils sont mes compagnons de travail</span></h2>
    <ul class="col-md-5 mt-3 list-unstyled">
        {{ range .Site.Data.sections.technos }}
            {{ $technos := where $.Site.Pages "Section" "technos" }}
            {{ range where $technos ".Params.techno" . }}
                <li class="ps-md-4 mb-3">{{ partial "image/icon" . }}<span class="ms-3">{{ humanize .Params.techno }}</span></li>
            {{ end }}
        {{ end }}
    </ul>
</section>