</main>
{{ partial "components/horizontal-cord" . }}
<main class="page-transition overflow-hidden">
    <div class="container">

        <section id="projects" class="py-6">
            <article paint-y class="mb-4">
                <h2 class="display-4">
                    Réalisations
                </h2>
                <p>
                    {{ partial "components/link" (dict "text" "Toutes les réalisations" "link" "/projects" ) }}
                </p>
            </article>
            <div id="projects-group" class="position-relative">
                <div class="swiper-wrapper pb-5 supercursor-activeable-x">
                    {{ range (where .Site.Pages "Section" "projects") }}
                        {{ range first 4 .Pages.ByDate.Reverse }}
                            <div class="h-100 d-flex swiper-slide">
                                {{ .Render "card"}}
                            </div>
                        {{ end}}
                    {{ end }}
                     <div class="h-100 d-flex swiper-slide">
                        <div 
                            paint-y
                            class="pe-4 hoverable w-100 user-select-none" 
                        >
                            {{ partial "image/resize" (dict
                                "img" "/images/projects/all-projects.jpg"
                                "opt" (dict
                                    "size" "800x webp"
                                    "itemprop" "thumbnailUrl"
                                    "alt" .Title
                                    "class" " effect-transition-2 effect-hover effect-hover-rotate-n4 effect-hover-scale-9 col-12 col-md-8 h-auto"
                                )
                            )}}

                            <div>
                                <h3 class="display-6 mt-3" itemprop="name">
                                    <a data-hover-text="Voir" class="supercursor-none text-black text-decoration-none stretched-link" href="/projects">
                                        <span>Toutes les réalisations</span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>
</main>
{{ partial "components/horizontal-cord" . }}
<main class="page-transition container">
