</main>
{{ partial "components/horizontal-cord" . }}
<main class="page-transition overflow-hidden">
    <div class="container">

        <section id="projects" class="py-6">
            <article paint-y class="mb-4">
                <h2 class="display-4">
                    Réalisations
                </h2>
                <p>
                    {{ partial "components/link" (dict "text" "Voir tous les projets" "link" "/projects" ) }}
                </p>
            </article>
            <div id="projects-group" class="position-relative">
                <div class="swiper-wrapper pb-5 supercursor-activeable-x">
                    {{ range (where .Site.Pages "Section" "projects") }}
                        {{ range first 4 .Pages.ByDate.Reverse }}
                            <div class="h-100 d-flex swiper-slide">
                                {{ .Render "card"}}
                            </div>
                        {{ end}}
                    {{ end }}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>
</main>
{{ partial "components/horizontal-cord" . }}
<main class="page-transition container">
