<div id="readings" data-scroll-effect-section class="py-6 row">
    <section data-paint-y class="offset-lg-3 col-lg-6">
        <h2 class="display-4">
            Références et lectures
        </h2>
        <p class="mt-3">
            Je base mon travail sur des {{ partial "components/link" (dict "text" "références" "link" "/references" ) }} et des {{ partial "components/link" (dict "text" "lectures" "link" "/readings" ) }} qui m'aident à mieux comprendre le monde du développement. 
        </p>
        <p>
            Je serais très heureux d'{{ partial "components/link" (dict "text" "échanger" "link" "/#contact" ) }} avec vous sur un de ces sujets, vous avez sans doute un point de vue intéressant à apporter !
        </p>
    </section>
</div>