<article id="skills" class="py-6 row">
    <div class="col-lg-6 pb-6">
        <h2 class="display-4 position-sticky top-6"><span class="supercursor-hover-text" data-hover-text="🎓">Domaines de compétences</span>
        </h2>
    </div>
    <div class="col-lg-6" id="accordionSkills">
        {{ range (where .Site.Pages "Section" "skills") }}
        {{ range $index, $skill :=.Pages.ByWeight }}
        <article>
            <h3 id="headingSkills{{ $index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSkills{{ $index }}"
                        aria-expanded="false"
                        aria-controls="collapseSkills{{ $index }}">
                    {{ $skill.Title }}
                </button>
            </h3>
            <div id="collapseSkills{{ $index }}" class="accordion-collapse collapse" aria-labelledby="headingSkills{{ $index }}"
                 data-bs-parent="#accordionSkills">
                <div class="accordion-body">
                    {{ $skill.Content }}
                </div>
            </div>
        </article>
        {{ end }}
        {{ end }}
    </div>
</article>