{{ define "main" }}
<section class="row pt-6">
    <div class="col-lg-6">
        <h1 class="display-2 position-sticky top-6">Mentions légales</h1>
    </div>
    <div class="col-lg-6 mt-3 gap-3">
        <div class="mb-6">
            <h3><strong>Conditions générales de vente</strong></h3>
            <a href="/cgv-20-01-2022.pdf">Voir les conditions générales de vente</a>
        </div>
        
        <div class="mb-6">
            <h3><strong>Propriétaire du site</strong></h3>
            <h4>Arthaud Proust</h4>
            <p>15 rue André Malraux</p>
            <p>33520 Bruges</p>
            <p>contact@arthaudproust.fr</p>
        </div>

        <div class="mb-6">
            <h3><strong>Entreprise</strong></h3>
            <h4>Monsieur Arthaud Proust</h4>
            <p>15 rue André Malraux</p>
            <p>33520 Bruges</p>
            <p>SIRET 90274035600016</p>
        </div>

        <div class="mb-6">
            <h3><strong>Hébergeur du site</strong></h3>
            <h4>Société Netlify</h4>
            <p>44 Montgomery Street, Suite 300</p>
            <p>San Francisco, California 94104</p>
            <p>support@netlify.com</p>
        </div>
    </div>
</section>
{{ end }}