@for $i from 0 through  10
    .transition-#{$i}
        transition: #{$i / 10}s


.hoverable:hover
    &.effect-hover, .effect-hover
        --scale: 1
        --rotateZ: 0
        transform: rotateZ(var(--rotateZ)) scale(var(--scale))

    @for $i from 0 through 36
        &.hover-rotate-#{$i}, .hover-rotate-#{$i}
            --rotateZ: #{$i}deg
        
        &.hover-rotate-n#{$i}, .hover-rotate-n#{$i}
            --rotateZ: -#{$i}deg

    @for $i from 0 through 10
        &.hover-scale-#{$i}, .hover-scale-#{$i}
            --scale: #{$i / 10}
