$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 10
);

$position-values: map-merge((
    0: 0,
    50: 50%,
    100: 100%
), $spacers);



$enable-negative-margins: true;
$enable-rounded: false;

$black: #000001;
$white: #f4f4f4;

// $light: #f4f4f4;
// $backgroundLine: #fafafa;
// $dark: #000001;
$primary: #6912e4;


$body-bg: $white;
$body-color: $black;

$hr-color: $black;
$hr-height: 2px;
$hr-opacity: 1;
$hr-margin-y: 0;

$border-width: 2px;
$border-color: $black;

// $link-color: $light;
$link-decoration: none;
$link-hover-decoration: underline;



$card-border-width: 0;

$font-family-sans-serif: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.1rem;
$font-size-sm: $font-size-base * .9 ;
$h1-font-size: $font-size-base * 4;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$display-font-weight: $font-weight-bold;


$small-font-size: 0.8rem;


$offcanvas-padding-y: $spacer * 3;
// $offcanvas-bg-color: $dark;
// $offcanvas-color: $light;
// $offcanvas-border-color: $light;
// $offcanvas-border-width: 1px;


$accordion-border-color: transparent;
$accordion-bg: transparent;
